PORT=5000
JWT_SECRET=aagaman_super_secret_jwt_key_2026_hotel_kheralu
ADMIN_USERNAME=Aagaman008
ADMIN_PASSWORD=Aagaman@2008
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
FAST2SMS_API_KEY=your_fast2sms_key
